.currentPage {
  font-size: 150%;
  padding: 5px 10px;
  background-color: rgba(89, 131, 252, 1);
  color: white;
  margin: 20px 10px;
  border: 1px solid rgba(89, 131, 252, 1);
  border-radius: 10px;
  font-size: 100%;
}

.arrow {
  cursor: pointer;
}
